
<div class="question">
  <div class="question-author">
    <%= gravatar_for(question.user, :s => 60) %>
  </div>

  <div class="question-details">
    <div class="question-title">
      <%= question.title %> <br/>
      <div class="smaller"> <%= question.user.name %> &nbsp;
        <span class="italics light">
          <%= question.created_at.to_datetime.strftime("%b %d %Y, %H:%M") %>
        </span>
      </div>
    </div>

    <div class="question-description">
      <%= question.description %>
      <% if current_user == question.user %>
        <div class="edit-links">
          <ul>
            <li> <%= link_to "Edit", edit_user_question_url(current_user, question) %> |</li>
            <li> <%= link_to "Delete", user_question_url(current_user, question), :method => :delete, :confirm => "Are you sure you want to delete this thread?" %> </li> |
            <li> <%= link_to "Add a comment", "#", :class => "#{question.class.to_s}_#{question.id} question-comment-link"  %> </li>
          </ul>
        </div>
      <% end %>

      <div class="question-comments">
        <% question.comments.each do |comment| %>
          <%= render :partial => "comments/each_comment", :locals => {:comment => comment} %>
        <% end %>
      </div>


      <div class="question-comment-form">
        <%= render :partial => "shared/comment_form", :locals => {:obj => question.comments.build, :type_obj => question } %>
      </div>
    </div>
  </div>
</div>


<style>
  .question-comment-form{
    margin-top: 3em;
  }

  .comment-form{
    display: none;
  }
</style>

<script>
  $(document).ready(function(){
    $('.question-comment-link').click(function(){
      var klasses = $(this).attr('class');
      var comment_box_klass = klasses.split(" ")[0];
      $("." + comment_box_klass + "_form").slideToggle("slow");
      return false;      
    });
  })
</script>