<% content_for :right do %>
  <div class="profile round graybackground">
    <div class="profile-top">
      <div class="gravatar"> <%= gravatar_for @user, {:s => 50 } %> </div>
      <div class="title"> <%= @user.name %> </div>
    </div>
    <div class="profile-body">
      <div class="about"> <%= @user.profile.description %> </div>
    </div>
  </div>
<% end %>


<div class="primary-navigation">
  <span class = "primary-navigation-links" style ="float:left;">
    <%= link_to_unless_current "Latest Questions", user_url(current_user) %>  |
    <%= link_to_unless_current "My Q&A", my_qa_users_url %> |
    <%= link_to_unless_current "Stats", "#" %>
  </span>
</div>

<div class="latest-questions">
  <% @questions.each do | question | %>     
    <%= render :partial => "questions/each_question", :locals => {:question => question} %>
  <% end %> 
</div>

<div class="questions-pagination">
  <%= will_paginate @questions, {:next_label => "Next >>", :previous_label => "<< Previous"} %>
</div>

