<!-- question_comments_url(type_obj) -->
<div class="edit-comment-form  hidden <%= "edit_#{obj.id}_form" %>">
  <%= form_for obj, :as => :comment, :url => action, :method => form_method do |f| %>
    <div class="field">
      <div class="element-label"> Comment </div>
      <div class="element-field"> <%= f.text_area :content, :class => 'wmd-ignore' %>  </div>
      <small class="error_message"> <%= error_messages(obj, :content) %> </small>
    </div>

    <div class="field">
      <div class="element-field">
        <% if form_method == :post %>
          <%= f.submit "Save Comment", :class => "qa-button" %>
        <% else %>
           <%= f.submit "Update Comment", :class => "qa-button" %>
        <% end %>
      </div>
    </div>

  <% end %>
</div>

<style>
  .comment-form textarea{
    height:70px;
}

.hidden{
  display:none;
}
</style>