<div class="each-answer">
      <div class="answer-author">
        <%= gravatar_for(answer.user)%>
      </div>

      <div class="answer-details">
        <div class="smaller"> <%= answer.user.name %> </div>
        <div class="answered">
          <% if answer.question.answer ==  answer %>
            <%= image_tag('/images/answered.gif') %>
          <% end %>
        </div>
        <span class="italics dark">
          <%= answer.created_at.to_datetime.strftime("%b %M %Y, %H:%M") %>
        </span>


        <div class="answer-description">
          <%= sanitize convert_to_html(answer.content) %>
          <% if current_user == answer.user %>
            <div class="edit-links">
              <ul>
                <li> <%= link_to "Edit", edit_question_answer_url(question, answer) %> |</li>
                <li> <%= link_to "Delete", question_answer_url(question, answer), :method => :delete, :confirm => "Are you sure you want to delete this answer?" %> | </li>
                <li> <%= link_to "Add Comment", "", :class => "Answer_#{answer.id} answers-add-comment-link" %> </li>
              </ul>
            </div>
          <% end  %>

          <div class="answer-comments-list">
            <% answer.comments.each do |comment| %>
              <%= render :partial => "comments/each_comment", :locals => {:comment => comment } %>
            <% end %>
          </div>

          <div class="answer-comment">
            <%= render :partial => "shared/comment_form", :locals => {:obj => Comment.new,
              :type_obj => answer, :form_method => :post, :action => question_answer_comments_url(question, answer)} %>
          </div>
        </div>

      </div>
    </div>


<style>
  .answered{
    float:right;
}
</style>