<% content_for :title do %>Sign In<% end %>


<div class="form round">
  <div class="form-title round"> Sign In </div>
  <%= form_for @user_session, :as =>:user_session, :url => user_session_url do |f| %>
    <div class ="field">
      <div class="element-label"> <%= f.label :email, "Email" %> </div>
      <div class="element-field"> <%= f.text_field :email, :size => 38 %> </div>
    </div>

    <div class ="field">
      <div class="element-label"> <%= f.label :password, "Password" %> </div>
      <div class="element-field"> <%= f.password_field :password, :size => 38 %> </div>
    </div>

    <div class="field">
      <div class="element-field"><%= f.submit "Sign In", :class => "qa-buttons" %>
      </div>
    <% end %>
  </div>
</div>